.main-contents{
	height:auto!important;
	width:auto!important;
	margin:100px 50px;
}
table{
  width:850px;
  margin:15px auto;
}
td{
	height:50px;
}
th{
	padding-left:15px;
	padding-right:15px;
	background:#000080;
	color:#ffffff;
}
th.id{
	width:100px;
}
th.name{
	width:100px;
}
th.branch{
	width:60px;
}
th.position{
	width:130px;
}
th.is-stopped{
	width:80px;
}
th.edit{
	width:60px;
}
table#border{
	background:#000000;
}
table{
	border-collapse: collapse;
}
input#edit-button{
	background-color: #808080;
	color:#ffffff;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	padding: 5px 10px ;
	margin: 10px auto;
	text-align:center;
}
input#stop-button{
	background-color: #e10000;
	color:#ffffff;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	padding: 5px 10px ;
	margin: 10px auto;
	text-align:center;
}
input#restoration-button{
	background-color: #00aa00;
	color:#ffffff;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	padding: 5px 10px ;
	margin: 10px auto;
	text-align:center;
}
a#edit-page{
	margin-top:100px;
	text-align:center;
}