h1{
	overflow:hidden;
}
body{
	margin:0px;
}
.menu{
	position:fixed;
	height:100%;
	width:600px;
	padding-left:0px;
	margin:0px auto;
	text-align:10px;
}
div.contributions{
	width:800px;
	position:relative;
	left:300px;
	padding-left:0px;
	word-wrap: break-word;
}
div.contribution-block{
	border: 2px solid #d4d4d4;
	border-radius: 3px;
	margin-bottom:5px;
	background:#ffffff;
}
div.contribution-subject{
	background:#ffffff;
	color:#000000;
	font-weight:bold;
	font-size:x-large;
	border-bottom:solid 1px #d4d4d4;
}
div.contribution-category{
	background:#ffffff;
	font-size:small;
	color:#c0c0c0;
	float:right;
}
div.name{
	color:#0080ff;
}
div.home-title{
	position:fixed;
	color:#000000;
	width:280px;
	margin-left:0px;
	border-bottom: solid 2px #808080;

}
#comment-submit{
	margin:1px center;
}

div.comment-title{
	font-weight:bold;
}
div.comment{
	background:#ffffff;
	margin-bottom:50px;
	border:solid 2px #d4d4d4;
	border-radius: 3px;
}
div.comment-content{
	border:5px;
	border-radius: 3px;
}
div.comment-block{
	border-bottom: 3px;
	padding:5px;
}
div.date{
	font-size:small;
}

div.refine-button{
	text-align:left;
	margin-top:0px;
	margin-left:100px;
}
a{
	padding-left:20px;
}
div.refine-form{
	padding-left:20px;
}
div.text{
	max-width:65%;
	padding-left:0px;
}
input.delete-submit-button{
	background:#ff0000;
	color:#ffffff;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	padding: 3px 3px ;
	margin: 5px;
	text-align:right;
}
.comment-textarea{
	float:	;
	border:2px solid #d4d4d4;
	background:#ffffff;
}
.errorMessages {
	color: red;
	text-align: center;
}