.main-contents{
	width:400px;
	text-align:left;
	height:auto;

}
input.text{
	width: 400px;

}
input.submit-button{
	width:auto;
	background-color: #668ad8;
	color:#ffffff;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	padding: 5px 10px ;
	margin: 10px auto!important;
	text-align:center;
}
label{
	font-size:small;
}