body{
	background: #eeeeee;
	font-family: Meiryo;
}
.main-contents{
	background: #ffffff;
	width: 300px;
	height:225px;
	padding: 20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin: 100px auto;
	length:300px;
	text-align:center;
}
h1{
	text-align:center;
}
.copyright{
	text-align:center;
}
.errorMessages {
	color: red;
	text-align: center;
}
ul{
	list-style: none;
	padding-left: 0;
}

input.form{
	height:18px;
	margin:3px ;
}
input.submit-button{
	background-color: #668ad8;
	color:#ffffff;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
	padding: 5px 5px ;
	margin:30px auto;
	text-align:center;
}
div.submit-button{
	text-align:center;
}