.main-contents{
	width:400px;
	height:auto;
	text-align:left;
}
input{
	width: 400px;
	text-align:left;
	margin:2px;
}
label{
	text-align:left;
	back-ground:#ff0000;
}
label[for="branchId"]{
	font-size:small;
}
label[for="positionId"]{
	font-size:small;
}
input.submit-button{
	width:auto;
}