.main-contents{
	background: #ffffff;
	width:600px;
	height:auto;
	padding: 10px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin: 10px auto;
}
.text{
	width:500px;
	margin:3px;
}

